h1{
    color:white;
    text-align:center;
    background-color: navy;
}

h2{
     color:white;
    text-align:center;
    background-color: navy;
}

h3{
     color:white;
    text-align:center;
    background-color: navy;
}

tr{
    color: aliceblue;
    background-color: black;
    
}

li{
    background-image: url("../images/03.jpg");
}

body{
    background-image: url("../images/ex1.jpg");
}